<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/font/bootstrap-icons.css"><link rel="stylesheet" href="/assets/css/docs.css">
    <title>main</title>
    <style>
        div {
            text-align: center;
        }
        p { font-size:200%; }
    </style>
</head>
<body>
<div>
    <p>"For"eigner</p>
    <select>
        <option>전체</option>
        <option>공연장</option>
        <option>도서관</option>
        <option>미술관</option>
        <option>문화예술회관</option>
        <option>박물관/기념관</option>
        <option>문화원</option>
        <option>기타</option>
    </select>
    <input type="text" id="serch" placeholder="구를 검색하세요" />
    <input type="submit" value="검색">
</div>
</body>
</html>