<!DOCTYPE html>
<html>
<head>
    <title>My Mustache Page</title>
    <meta charset="UTF-8">
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <style>
        div {
            text-align: center;
        }
        p { font-size:200%; }
    </style>
</head>
<body>
<h1>"For"eigner</h1>
<form action="/end" method="post">

</form>
</body>
</html>